<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC9Iu4vn1BWLbRQgCorF1G0xdzJ8ZILn0c</string>
	<key>GCM_SENDER_ID</key>
	<string>556549463430</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>yakupacs.YemekYolda</string>
	<key>PROJECT_ID</key>
	<string>yemekyolda</string>
	<key>STORAGE_BUCKET</key>
	<string>yemekyolda.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:556549463430:ios:5e3165bcfe1a6dbfff2007</string>
</dict>
</plist>